<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4"></div>
            <div class="col-sm-12 col-md-4 grey lighten-4 p-5 mt-5">
                <h3 class="text-center">{{ cars.Id }}</h3>
                <div class="md-form mb-0">
                    <input type="text" id="Id" class="form-control" ng-model="cars.Id" placeholder="id">
                    <label for="Id"></label>
                </div>
                <div class="md-form mb-0">
                    <input type="text" id="Brand" class="form-control" ng-model="cars.Brand" placeholder="brand">
                    <label for="Brand"></label>
                </div>
                <div class="md-form mb-0">
                    <input type="text" id="Model" class="form-control" ng-model="cars.Model" placeholder="model">
                    <label for="Model"></label>
                </div>
                <div class="md-form mb-0">
                    <input type="text" id="Price" class="form-control" ng-model="cars.Price" placeholder="harga">
                    <label for="Price"></label>
                </div>
                <button class="btn btn-primary" ng-click="edit(cars.$id)">Edit</button>
            </div>
            <div class="col-sm-12 col-md-4"></div>
        </div>
    </div>